# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# .env
# env
venv/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
public/.DS_Store
/.turbo/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public/moc/
public/moc_json/
!public/moc_json/moc_manifest.json